<h3>Welcome to my Spotify web application</h3>
<h5 class='text-danger'>Currently the app breaks due to developer access token expiring</h5>
<p>This application was made using HTML, CSS, Javascript, Typescript, Angular and Bootstrap.
  This app uses the Spotify API to receive information about artists and albums. Searching for an artist will
  return any artist that matches the search term and clicking on an artist will show all albums that spotify possesses from the selected artist.
  Selecting an individual album will show all songs from that album. Selecting a song redirects the user to spotify for a sample clip from the selected song.
</p>
<ul class='list-unstyled'>
  <li><strong>Links</strong></li>
  <li><a href="https://developer.spotify.com/">Spotify API</a></li>
  <li><a href="https://www.spotify.com/us/">Spotify</a></li>
  <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
  <li><a href="https://bootswatch.com/">Bootstrap Theme</a></li>
  <li><a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA">Project inspired by Travery Media</a></li>
</ul>
